<ng-container>
  <webui-navigation></webui-navigation>
  <div class="container">
    <div class="reset-wrapper">
      <div class="reset-title">
        <img
          class="inline-block"
          src="{{ settings.logo || '/assets/img/logo.svg' }}"
          alt=""
          height="80" />
      </div>

      <div class="reset-form" *ngIf="pageNum == 0">
        <div class="reset-label">
          <h5 class="title">{{ 'reset_password.title' | translate }}</h5>
          <p class="description">
            {{ 'reset_password.instruction' | translate }}
          </p>
        </div>
        <webui-generic-form
          [endpoint]="endpoint"
          [data]="data"
          [errors]="error"
          [checkUsername]="false"
          [showResponse]="true"
          (redirect)="redirectHandler()"
          (responseForm)="responseHandler($event)"
          (errorForm)="errorHandler()"
          (event)="formEvent($event)">
          <button
            class="btn btn-primary reset-button"
            type="submit"
            [disabled]="resetProcess">
            {{ 'reset_password.btn_lbl' | translate }}
            <webui-spinner *ngIf="resetProcess"></webui-spinner>
          </button>
        </webui-generic-form>
      </div>
      <div class="reset-form" *ngIf="pageNum != 0">
        <div class="reset-label">
          <h5 class="title" *ngIf="pageNum == 1">
            {{ 'reset_password.link_expired' | translate }}
          </h5>
          <h5 class="title" *ngIf="pageNum == 2">
            {{ 'reset_password.invalid_link' | translate }}
          </h5>
          <p class="description">
            {{ 'reset_password.back_to_login' | translate }}
          </p>
        </div>
        <div class="login-link">
          <a [routerLink]="['/login']">{{
            'reset_password.login' | translate
          }}</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
